<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <main>
        <h3>Add New User</h3>
        <% if( msg.length!=0) { %>
            <div class="alert alert-danger " role="alert">
                <%= msg %>
            </div>
            <% } %>
                <%- include('../../partials/loader'); %>
                    <form action="/users/insert" method="post">
                        <div class="form-group p-2">
                            <label class="pb-2" for="name">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter Name">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="description">Description</label>
                            <input type="text" class="form-control" name="description" placeholder="Enter Description">
                        </div>
                        <div class="form-group p-2">
                            <h4>Roles</h4>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Name</th>
                                    <th>Allow</th>
                                </tr>
                                <tr>
                                    <td>Admin</td>
                                    <td><input type="checkbox" id="chkAdmin" name="Admin" value="allow"> </td>
                                </tr>
                                <tr>
                                    <td>Basic</td>
                                    <td><input type="checkbox" id="chkBasic" name="Basic" value="allow"> </td>

                                </tr>
                            </table>
                        </div>
                        <div class="p-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a type="cancel" class="btn btn-primary" href="/users">Cancel</a>
                        </div>
                    </form>
    </main>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    <script src="/scripts/common/checkbox.js"></script>
</body>

</html>