<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../../partials/header'); %>
  </header>
  <main>
    <% if( msg.length!=0) { %>
      <div class="alert alert-danger " role="alert">
        <%= msg %>
      </div>
      <% } %>
        <%- include('../../partials/loader'); %>
          <!-- Button trigger modal -->
          <div class="p-2">
            <a href="/medicine/insert" class="btn btn-primary">
              Add New
            </a>
          </div>
          <div class="container-fluid">
            <div class="row">
              <% if (typeof data !='undefined' ) { %>
                <% for(var i=0;i < data.length;i++) { %>
                  <div id=<%=data[i]._id %> class="col-lg-3 m-2 card">
                    <div class="row card-body">
                      <h5 class="card-title">
                        <%= data[i].name %>
                      </h5>
                      <div>
                        <div>Content <%= data[i].content %>
                        </div>

                        <div class="pt-2"> <a class="btn btn-primary pr-2" href="/medicine/update/<%= data[i]._id %>">Update</a>
                          <button class="btn btn-primary" type="button" id='<%= data[i]._id %>'
                            onclick="deleteme('<%= data[i]._id %>','localhost:5001/medicine/delete')">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                    <% } %>
            </div>
          </div>

  </main>
  <footer>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/delete.js"></script>
    <%- include('../../partials/footer'); %>
  </footer>

</body>

</html>