<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
        <link href="/styles/jquery-ui.min.1.12.1.css" rel="stylesheet">
        <script src="/scripts/jquery-ui.min.1.12.1.js"></script>
</head>

<body class="container">
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <main>
        <input type="text" id="txtBaseUrl" value=<%=baseUrl %>>
        <% if( msg.length!=0) { %>
            <div class="alert alert-danger " role="alert">
                <%= msg %>
            </div>
            <% } %>
                <%- include('../../partials/loader'); %>
                    <form id="submitform" action="/diabetic/insert" method="post">
                        <div class="form-group p-2">
                            <label for="date" class="pb-2">Date</label>
                            <input type="datetime-local" class="form-control" name="date" placeholder="Select Date">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="bloodpressurepre">Blood Pressure Pre</label>
                            <input type="number" class="form-control" name="bloodpressurepre"
                                placeholder="bloodpressurepre">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="bloodpressurepost">Blood Pressure Post</label>
                            <input type="number" class="form-control" name="bloodpressurepost"
                                placeholder="bloodpressurepost">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="weight">Weight</label>
                            <input type="number" step=".01" class="form-control" name="weight" placeholder="weight">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="bslf">Blood Sugar Fasting</label>
                            <input type="number" class="form-control" name="bslf" placeholder="bslf">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="bslpp">Blood Sugar PP</label>
                            <input type="number" class="form-control" name="bslpp" placeholder="bslpp">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="diagnosis">Diagnosis</label>
                            <textarea class="form-control" name="diagnosis" rows="3"></textarea>
                        </div>
                        <div class="form-group p-2">
                            <div class="ui-widget">
                                <label for="medicine">Medicines : </label>
                                <input id="medicine" placeholder="Enter medicine name">
                                <button type="button" id="add" onclick="addmedicine()">Add</button>
                            </div>
                            <ul id="medicinelist">
                            </ul>
                            <input   name="medicines" class="" type="text" id="selectedMedicines">
                        </div>
                        <div class="p-2">
                            <button type="submit" class="btn btn-primary ">Submit</button>
                            <a type="cancel" class="btn btn-primary" href="/">Cancel</a>
                        </div>
                    </form>
    </main>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    <script src="/scripts/common/getData.js"></script>
    <script src="/scripts/medicine/autocomplete.js"></script>
   <script src="/scripts/common/common.js"></script>
</body>

</html>