<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <main>
        <% if( msg.length!=0) { %>
            <div class="alert alert-danger " role="alert">
                <%= msg %>
            </div>
            <% } %>
                <%- include('../../partials/loader'); %>
                    <form action="/diabetic/insert" method="post">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="datetime-local" class="form-control" name="date"
                                 placeholder="Select Date">
                        </div>
                        <div class="form-group">
                            <label for="bloodpressurepre">bloodpressurepre</label>
                            <input type="number" class="form-control" name="bloodpressurepre"
                                placeholder="bloodpressurepre">
                        </div>
                        <div class="form-group">
                            <label for="bloodpressurepost">bloodpressurepost</label>
                            <input type="number" class="form-control" name="bloodpressurepost"
                                placeholder="bloodpressurepost">
                        </div>
                        <div class="form-group">
                            <label for="weight">weight</label>
                            <input type="number" step=".01" class="form-control" name="weight"
                                placeholder="weight">
                        </div>
                        <div class="form-group">
                            <label for="bslf">bslf</label>
                            <input type="number" class="form-control" name="bslf"
                                placeholder="bslf">
                        </div>
                        <div class="form-group">
                            <label for="bslpp">bslf</label>
                            <input type="number" class="form-control" name="bslpp"
                                placeholder="bslpp">
                        </div>
                        <div class="form-group">
                            <label for="diagnosis">diagnosis</label>
                            <textarea class="form-control" name="diagnosis" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a type="cancel" class="btn btn-primary" href="/">Cancel</a>
                    </form>
    </main>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    <script src="/scripts/index.js"></script>
</body>

</html>