<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <main>
        <% if( msg.length!=0) { %>
            <div class="alert alert-danger " role="alert">
                <%= msg %>
            </div>
            <% } %>
                <%- include('../../partials/loader'); %>
                    <form action="/diabetic/insert" method="post">
                        <div class="form-group p-2">
                            <label class="pb-2" for="date">Date</label>
                            <input type="datetime-local" value=<%=data.date %> class="form-control" name="date"
                            placeholder="Select Date">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="bloodpressurepre">Blood Pressure Pre</label>
                            <input type="number" value=<%=data.bloodpressurepre %> class="form-control"
                            name="bloodpressurepre"
                            placeholder="bloodpressurepre">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="bloodpressurepost">Blood Pressure Post</label>
                            <input type="number" value=<%=data.bloodpressurepost %> class="form-control"
                            name="bloodpressurepost"
                            placeholder="bloodpressurepost">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="weight">Weight</label>
                            <input type="number" step=".01" value=<%=data.weight %> class="form-control" name="weight"
                            placeholder="weight">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="bslf">Bslf</label>
                            <input type="number" value=<%=data.bslf %> class="form-control" name="bslf"
                            placeholder="bslf">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="bslpp">Bslpp</label>
                            <input type="number" value=<%=data.bslpp %> class="form-control" name="bslpp"
                            placeholder="bslpp">
                        </div>
                        <div class="form-group p-2">
                            <label class="pb-2" for="diagnosis">Diagnosis</label>
                            <textarea class="form-control" name="diagnosis" rows="3"><%= data.diagnosis %> </textarea>
                        </div>
                        <div class="p-2">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a type="cancel" class="btn btn-primary" href="/">Cancel</a>
                        </div>
                        
                    </form>
    </main>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    <script src="/scripts/index.js"></script>
</body>

</html>