<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <% if( msg.length!=0) { %>
      <div class="alert alert-danger " role="alert">
        <%= msg %>
      </div>
      <% } %>
        <%- include('../partials/loader'); %>
          <div class="p-2">
            <a href="/diabetic/insert" class="btn btn-primary">
              Add New
            </a>
          </div>
          <div class="container-fluid">
            <div class="row">
              <% if (typeof data !='undefined' ) { %>
                <% for(var i=0;i < data.length;i++) { %>
                  <div id=<%= data[i]._id %> class="col-lg-3 m-2 card">
                    <div class="row card-body">
                      <h5 class="card-title"><%= data[i].date.substring(0,10) %></h5>
                      <div >
                        <div>BloodPressurePre <%= data[i].bloodpressurepre %>
                        </div>
                        <div>BloodPressurePost <%= data[i].bloodpressurepost %>
                        </div>
                        <div>Weight <%= data[i].weight %>
                        </div>
                        <div>BSLF<%= data[i].bslf %>
                        </div>
                        <div>BSLPP <%= data[i].bslpp %>
                        </div>
                        <div>Diagnosis <%= data[i].diagnosis %>
                        </div>
                        <div> <a class="btn btn-primary pr-2" href="/diabetic/update/<%= data[i]._id %>">Update</a>
                          <button class="btn btn-primary" type="button" id='<%= data[i]._id %>'
                            onclick="deleteme('<%= data[i]._id %>','localhost:5001/diabetic/delete')">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% } %>
                    <% } %>
            </div>
          </div>
  </main>
  <footer>
    <script src="/scripts/common/delete.js"></script>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>