<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">
  <header>
    <%- include('../partials/header'); %>
  </header>
  <main>
    <h3>Doctor Visit List</h3>
    <% if( msg.length!=0) { %>
      <div class="alert alert-danger " role="alert">
        <%= msg %>
      </div>
      <% } %>
        <%- include('../partials/loader'); %>
          <div class="p-2">
            <a href="/visit/insert" class="btn btn-primary">
              Add New
            </a>
          </div>
          <div class="container-fluid">
            <div class="row">
              <% if (typeof data !='undefined' ) { %>
                <!-- <%- include('../partials/Visit/cardview'); %> -->
                <%- include('../partials/Visit/tableview'); %>
                  <% } %>
            </div>
          </div>
  </main>
  <footer>
    <script src="/scripts/common/delete.js"></script>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>